<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Whatsapp</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>All Chats</h1>
		<form method="GET" action="/chats/new">
			<button class="new-btn">New Chat</button>
		</form>
		<br />
		<% for (let chat of chats) {%>
		<div class="chat">
			<p>From : <i><%= chat.from %></i></p>
			<div class="msg">
				<p><i><%= chat.msg %></i></p>
				<div class="btn-container">
					<form method="GET" action="/chats/<%= chat._id%>/edit">
						<button class="edit-btn">Edit</button>
					</form>
					<form method="POST" action="/chats/<%= chat._id%>?_method=DELETE">
						<button class="edit-btn">Delete</button>
					</form>
				</div>
			</div>
			<p>Received by <%= chat.to %></p>
			<p><%= chat.created_at.toString().split(" ")[4]%></p>
			<p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ")%></p>
			<br />
		</div>
		<br /><br /><br /><br /><br />
		<%}%>
	</body>
</html>
